In [ ]:
# Reading the file again

''' Answering the following questions:
1. What is the shape of daataset?
2. How many spam/ham are there?
3. How much missing data is there?'''

In [9]:
import pandas as pd
dataset = pd.read_csv("SMSSpamCollection.tsv", sep = '\t', header = None)
# Changing column names
dataset.columns = ['label', 'body_text']
dataset.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [3]:
# Number of rows and columns
print("Input data has {} rows and {} columns". format(len(dataset), len(dataset.columns)))

Input data has 5568 rows and 2 columns

In [14]:
# Number of spam and ham
print("Out of {} rows, {} are spam and {} are ham".format(len(dataset), 
                                                         len(dataset[dataset['label']=='spam']),
                                                          len(dataset[dataset['label']=='ham'])))

Out of 5568 rows, 746 are spam and 4822 are ham

In [16]:
# Missing data
print("Number of nulls in label are {}". format(dataset['label'].isnull().sum()))
print("Number of nulls in label are {}". format(dataset['body_text'].isnull().sum()))

Number of nulls in label are 0
Number of nulls in label are 0