In [ ]:
# Importing the library and downloading the files for NLP
import nltk
nltk.download()

In [2]:
# Importing data for spam detection problem which is tab delimited -  long way
rawdata = open("SMSSpamCollection.tsv").read()

In [4]:
# Print the raw data"
rawdata[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [11]:
#dir("nltk")
help(rawdata.replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [19]:
# Parsing the data
parseddata =  rawdata.replace('\t','\n').split('\n')
parseddata[0:5]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [26]:
# taking the labels
labelist = parseddata[0::2]
print(labelist[0:5])

['ham', 'spam', 'ham', 'ham', 'ham']

In [27]:
# taking the text
textlist = parseddata[1::2]
print(textlist[0:5])

["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [29]:
import pandas as pd

In [40]:
print(len(labelist))
print(len(textlist))

print(labelist[-5:])# picking out one last entry which is null

fullcorpus = pd.DataFrame({
    'label':labelist[:-1],
    'body_list':textlist    
})

fullcorpus.head()

5571
5570
['ham', 'ham', 'ham', 'ham', '']

  label                                          body_list
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [42]:
# Using pandas to read the file: easy way

dataset  = pd.read_csv("SMSSpamCollection.tsv", sep= "\t", header = None)
dataset.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!